body{
    background-color: white;
}

h1{
    color: #34495e;
    transition: .5s ease-in-out;
}

/*#title{  отбор элемента по id-шнику (прописывается через # ) 
    color: green;
}*/

/*.class{  отбор элемента по названию класса (прописывается через точку)

}*/

.clicked{  /* получается когда мы нажимаем то назначаем класс на тег и тем самым меняем цвет */
    color: #7f8c8d;
}

.btn{
    cursor: pointer;
}

.form, .greetings{
    display: none;
}

.showing{
    display: block;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    animation: fadein 0.5s linear; 
}

.js-weather{
    background: #fff;
    color: brown;
}