body{
    background-color: peru;
}

h1{
    color: #34495e;
    transition: .5s ease-in-out;
}

#title{  /*отбор элемента по id-шнику (прописывается через # )*/ 
    /*color: green;*/
}

.class{  /*отбор элемента по названию класса (прописывается через точку)*/

}

.clicked{  /* получается когда мы нажимаем то назначаем класс на тег и тем самым меняем цвет */
    color: #7f8c8d;
}